section {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-content: center;
  align-items: center;
  justify-items: center;
  max-width: 80vw;
}

.presentation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  /* min-height: fit-content; */
}

.content-container {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container img {
  height: auto;
  width: 22vw;
  min-width: 400px;
  max-width: 900px;
  display: flex;
}

.title {
  font-size: 2.9rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: #000;
}

.job-title,
.tech-title {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #fe8882;
  white-space: nowrap;
}

.introduction {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.tech-container {
  text-align: center;
}

.tech-icons {
  max-width: 30rem;
}

.tech-icons p {
  display: inline-block;
  outline: 0;
  background-color: white;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  border: 1px solid #fae3db;
  line-height: 26px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.tech-icons p:hover {
  transform: translateY(-2px);
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #fe8882;
  color: #fff;
  background-color: #fe8882;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  margin-top: 3rem;
}

button:hover {
  background: 0 0;
  color: #fe8882;
}

/* Mobile Screens (width < 760px) */

@media (max-width: 759px) {
  .home-section,
  .about-section,
  .projects-section,
  .contact-section {
    height: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presentation-container,
  .about-title,
  .projects-title,
  .contact-title {
    margin-bottom: 1rem;
  }

  .home-section .presentation-container .img-container img,
  .projects-section .projects-container .project-1 .project-img img,
  .projects-section .projects-container .project-2 .project-img img,
  .projects-section .projects-container .project-3 .project-img img {
    width: 80vw;
    min-width: unset;
    max-width: unset;
  }

  .home-section .presentation-container .content-container {
    max-width: 80vw;
  }

  .about-section .about-description {
    margin: 1rem 0;
  }

  .about-section .about-description p {
    max-width: 90vw;
  }

  .projects-section .projects-container {
    grid-template-columns: 100%;
    margin: 1rem;
  }

  .projects-section .projects-container .project-1,
  .projects-section .projects-container .project-2,
  .projects-section .projects-container .project-3 {
    margin-bottom: 2rem;
  }

  .contact-section .contact-form {
    width: 90%;
    max-width: 90%;
  }

  .contact-section .links {
    position: static;
    align-items: center;
    margin-top: 4rem;
  }

  .contact-section .link {
    margin: 0.5rem;
  }
}
